 .contato-cointainer {
     display: flex;
     align-items: center;
     justify-content: Center;
     background-color: #212328;
     padding: 0.27rem;
 }

 .mensagem {
     color: #eaebf0;
     font-weight: 600;
     text-transform: uppercase;
 }