/* @import url('https://fonts.googleapis.com/css2?family=Florentia&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Florentia', sans-serif; */
  font-family: 'Roboto', sans-serif;


}

/* Estilos globais */
body {
    font-size: 16px;
    color: #212328;
    background-color: #eaebf0;
}